<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <include resource="sa/com/stc/framework/logging/logback-spring.xml"/>

  <springProfile name="local">
    <logger additivity="false" level="INFO" name="sa.com.stc">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="APPLICATION_LOG_FILE"/>
    </logger>
    <logger additivity="false" level="INFO" name="org.springframework">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="SPRING_LOG_FILE"/>
    </logger>
    <logger additivity="false" level="WARN" name="org.apache.kafka">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="APPLICATION_LOG_FILE"/>
    </logger>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>


</configuration>